html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top:10px;
    left: 10px;
}

.anchor-nav {
    margin-left: 200px;
    line-height: 28px;
    font-size: 20px;
    list-style: none;
    margin-top: 10px;
}

section {
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    color: #000;
    font-family: 'violetteregular';
    font-size: 50px;
}

.full-screen {
    height: 100%;
}

.sw {
    position: absolute;
    left: 30px;
    top: 30px;
}

.photo {
    border-radius: 50%;
}

a {
    color: black;
    font-size: 30px;
    display: block;
    left: 90px;
    font-family: 'print_clearlyregular';
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    text-decoration-line: underline;
   
}

a:active {
    font-weight: bold;
}

p {
    font-family: 'night_still_comesregular';
}

#greet-title {
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    padding-top: 10px;
}

.dot {
    position: absolute;
    left: 140px;
    top: 105px;
}

#p-container {
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    width: 33%;
    font-size: 18px;
}

.s {
    /* position: absolute; */
    /* left:493px; */
    /* top:1350px; */
}

.w {
    /* position: absolute;
    left: 488px;
    top: 1384px; */
}

/* 
#greetings, #work, #abilities, #next {
    font-family: 'violetteregular';
    font-size: 50px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
} */